/* Global Styles */
body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding-top: 80px; /* Space for fixed top bar */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00A682;
    color: white;
}

/* Top Bar */
.top-bar {
    background-color: #84F3DA;
    background-image: url('https://www.pngkey.com/png/full/271-2716327_overlay-pattern-png.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 32px;
}

/* Top Bar Buttons */
.top-bar .login-content button {
    font-size: 18px;
    color: black;
    background-color: white;
    border: 2px solid #00A682;
}

.top-bar .login-content button:hover {
    background-color: gray;
    color: white;
    border-color: #008B5C;
}

/* Main Content */
.content {
    display: flex;
    flex-direction: column;
    margin-left: 220px; /* Space for nav bar */
    padding-top: 40px;
    width: calc(100% - 220px);
    height: calc(100vh - 50px);
}

/* Left Vertical Navigation Bar */
.nav-bar {
    position: fixed;
    top: 90px;
    left: 0;
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav Links */
.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.nav-bar a:hover {
    background-color: #555;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropbtn {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    width: 100%;
    background-color: #333;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

/* Flashcards */
.flashcard {
    width: 600px;
    height: 300px;
    border: 2px solid #84F3DA;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    line-height: 150px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px;
}

/* Flashcard Display */
.flashcard-display {
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flashcard-display .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 10px;
}

.flashcard-display .button .previous {
    align-items: left;
}

.flashcard-display .button .next {
    align-items: right;
}

/* Library Box Container */
.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    gap: 10px;
    padding-left: 10px;
}

/* Add Box Button */
.add-box {
    width: 200px;
    height: 200px;
    background-color: #84F3DA;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.add-box:hover {
    background-color: #00A682;
    color: white;
}

/* Page Title */
.page-title {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

/* Setting Item Styles */
.setting-item {
    margin-bottom: 20px;
    font-size: 20px;
}

.setting-item button,
.setting-item .delete-button {
    font-size: 18px;
    color: black;
    background-color: #84F3DA;
    border: 2px solid #00A682;
    margin-bottom: 20px;
    border-radius: 5px;
}

.setting-item button:hover,
.setting-item .delete-button:hover {
    background-color: #00A682;
    color: white;
}

.setting-item .delete-button {
    background-color: rgb(255, 75, 75);
    border: 2px solid rgb(124, 0, 0);
}

.setting-item .delete-button:hover {
    background-color: #740e0e;
    border-color: #420000;
}

/* Horizontal Rule */
hr {
    border: 0;
    border-top: 1px solid #84F3DA;
    margin: 10px 0;
}

/* Contact Link */
.contact a {
    text-decoration: none;
    color: inherit;
}

.contact a p {
    margin: 0;
}

/* Terms Button */
.terms-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.terms-button {
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    background-color: #84F3DA;
    border: 2px solid #00A682;
    border-radius: 5px;
    cursor: pointer;
}

.terms-button:hover {
    background-color: #00A682;
    color: white;
}

.flashlite-title {
    font-size: 32px; /* Adjust title size */
    margin: 0;
}

.logo {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-left: 10px; /* Add spacing between text and logo */
}