<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- External Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home - Flashcard Generator{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar Section -->
    <header>
        <div class="top-bar">
            <a href="{% url 'home' %}" style="color:black" class="flashlite-title">FlashLite</a>
            <a href="{% url 'home' %}"><img src="{% static 'flashlitelogo.png' %}" alt="FlashLite Logo" class="logo"></a>
            <div class="login-content">
                <!-- LogOut -->
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout_user' %}">
                        {% csrf_token %}
                        <button class="button" type="submit">Logout</button>
                    </form>
                {% else %}
                    <button class="button" onclick="window.location.href='{% url 'login_user' %}'">Login</button>
                    <button class="button" onclick="window.location.href='{% url 'signup_user' %}'">Sign Up</button>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Vertical Navigation Bar -->
    <div class="nav-bar">
        <a href="{% url 'home' %}">Study Time</a>
        <a href="{% url 'create_flashcard' %}">Create Flashcards</a>
        <a href="{% url 'library_view' %}">Library</a>
        <a href="{% url 'world_decks' %}">World Decks</a>
        <a href="{% url 'settings' %}">Settings</a>

        
        <div class="dropdown">
            <button class="dropbtn">Favorite Sets</button>
            <div class="dropdown-content">
                {% for favorite in favorite_sets %}
                    <a href="{% url 'study_view' favorite.set.set_id %}">{{ favorite.set.title }}</a>
                {% empty %}
                    <p>No favorite sets.</p>
                {% endfor %}
            </div>
        </div>

        <!-- About Us Page -->
        <div class="contact">
            <a href="{% url 'about' %}">Contact us!</a>
        </div>
    </div>

    <!-- Main content area (this will be populated by other templates) -->
    {% block main %}
    {% endblock main %}
    
    <!-- Link to External JS File -->
    <script src="{% static 'favorite.js' %}"></script>
    
</body>
</html>
