{% extends 'base.html' %}

{% block title %}Classrooms - Flashlite{% endblock title %}

{% block main %}

{% load static %}

<h1 class="page-title">Classrooms</h1>

    <!-- Tutorial Button -->
    <button class="tutorial-btn" data-set-id="classroom-tutorial">?</button>

    <div class="content">
    <!-- Success/Failure Message Display -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
        <div class="classrooms-search-bar">
            <div class="search-input-wrapper">
              <img src="{% static 'magnify.png' %}" alt="Search Icon" class="search-icon">
              <input type="text" id="classrooms-search-input" placeholder="Search classrooms..." onkeyup="searchClassrooms()">
            </div>
            <select id="search-filter" onchange="searchClassrooms()">
              <option value="all">All</option>
              <option value="name">Name</option>
              <option value="description">Description</option>
            </select>
            <button onclick="clearClassroomsSearch()">Clear</button>
          </div>
          <br>
            <p>Classrooms: {{ class_count }}/50</p>
                <div class="flashcard-sets-list">
                    <button class="add-box">
                        <a href="{% url 'create_classroom' %}">+</a>
                    </button>

            {% for classroom in classrooms %}
                <div class="flashcard-set">
                    <p>{{ classroom.name }}</p>
                    <p>{{ classroom.description }}</p>

                    <a href="{% url 'view_classroom' classroom.id %}" class="view-button">View Classroom</a>

                    <form action="{% url 'delete_classroom' classroom.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            {% empty %}
                <p>No classrooms created yet.</p>
            {% endfor %}
        </div>
    </div>
    
     <!-- Script for Tutorial Function -->
     <script src="{% static 'tutorial.js' %}?v=4"></script>
{% endblock main %}