{% extends 'base.html' %}
 
   {% block title %}Create a Set{% endblock title %}
 
 
 {% block main %}
 <h2 class="page-title">Create a Set</h2>
 <div class="content"><!--Provides styling for the content, makes the content go in the middle of space-->
     <div class="form-content"> <!--Provides styling for the form-->
     <!-- Display the form -->
     <form method="POST">
         {% csrf_token %}
         
         <label for="title">Set Name</label>
         <input type="text" name="title" id="title" required><br><br>
         
         <label for="category">Category</label>
         <input type="text" name="category" id="category" required><br><br>
         
         <label for="description">Description</label>
         <textarea name="description" id="description"></textarea><br><br>
 
         <button class="button" type="submit">Save Set</button>
     </form>
     <a href="{% url 'library_view' %}"  id="back-button">&#8592; Go Back</a>
     </div>
 </div>
 {% endblock main %}
 
