{% extends 'base.html' %}

{% block title %}Create Classroom - Flashlite{% endblock title %}

{% block main %}

{% load static %}

<div class="content">

    <h1>Create Classroom</h1>

    <form method="post">
        {% csrf_token %}
        <label for="name">Classroom Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <button type="submit">Create</button>
    </form>
</div>
{% endblock main %}
