<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{{ flashcard_set.title }} - Details</title>
</head>
<body>
    <a id="back-button" href="{% url 'library_view' %}" style="margin-left: 10px;">Back to Library</a>
    <h1 class="flashcard_set_title">{{ flashcard_set.title }}</h1>
    <div class="set_content">
        <p>{{ flashcard_set.description }}</p>
        <p>Category: {{ flashcard_set.category.name }}</p>
        <p>Created on: {{ flashcard_set.created_at }}</p>
        <p>Shared: {% if flashcard_set.is_shared %} Yes {% else %} No {% endif %}</p>
    </div>
    
    <h2 class="flashcards_set_details">Flashcards in this Set:</h2>
    
    <ul class="flashcards_list">
        {% for flashcard in flashcards %}
            <li>
                <strong>Question:</strong> {{ flashcard.question }}<br>
                <strong>Answer:</strong> {{ flashcard.answer }}<br>
                
                <!-- Delete flashcard form -->
                <form action="{% url 'delete_flashcard' flashcard.card_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn-cards">Delete</button>
                </form>
                <br>
            </li>
        {% empty %}
            <p>No flashcards available in this set.</p>
        {% endfor %}
    </ul>

</body>
</html>
