<html>
<head>
<title>Login</title>
{% load static %}
<link rel="stylesheet" href="{% static 'user_auth.css' %}">
</head>

<body>
<header>
<div class="navigation-div"></div>
<h1>Flash Card Generator</h1>
</header>
<div class="auth-div"><br><br>
<h2 id="auth-heading">Login</h2><br>
<input type="text"  id="username-input" name="username" required placeholder="Enter username"><br><br>
<input type="password" id="password-input" name="password" required placeholder="Enter password"><br><br>
<button>Login</button><br><br><br>
<a href>Don't have an account? Sign Up Here!</a>
</div>
</body>

</html>