<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Top Bar Section -->
    <header>
        <div class="top-bar">
            <a href="{% url 'home' %}"><p class="flashlite-title">FlashLite</p></a>
            <div class="login-content">
                <!-- Change to LogOut button when logged in -->
                {% if user.is_authenticated %}
                  {% block content %}
                    <form method="post" action="{% url 'logout_user' %}">
                        {% csrf_token %}
                        <button class="button" onclick="window.location.href='{% url 'logout_user' %}'">Logout</button>                    </form>
                  {% endblock %}
                {% else %}
                    <button class="button" onclick="window.location.href='{% url 'login_user' %}'">Login</button>
                    <button class="button" href="#" onclick="window.location.href='{% url 'signup_user' %}'">Sign Up</button>
                {% endif %}
            </div>
        </div>
    </header>
    
    <!-- Vertical Navigation Bar -->
    <div class="nav-bar">
        <a href="{% url 'home' %}">Study Time</a> <!-- This will be the active page -->
        <a href="{% url 'create_flashcard' %}">Create Flashcards</a>
        <a href="{% url 'library_view' %}">Library</a> <!-- This will navigate to the Library page -->
        <a href="{% url 'settings' %}">Settings</a> <!-- This will navigate to settings html -->
    
        <!-- Dropdown for Recent/Favorite Decks -->
        <div class="dropdown">
            <button class="dropbtn">Favorite Decks</button>
            <div class="dropdown-content">
                <a href="#">Test</a>
                <a href="#">Test2</a>
            </div>
        </div>
        <!--Contactinfo-->
        <div class="contact">
            <a href="{% url 'about' %}"><p>Contact us!</p></a>
        </div>
    </div>
    <!-- Main Content Section -->
    <div class="content">
        <h1 class="page-title">Settings</h1>
        <!-- UserName -->
        <div class="setting-item">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{ user|safe }}" readonly>
        </div>

        <!-- Email -->
        <div class="setting-item">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ user.email|safe }}" readonly>
        </div>

        <hr>

        <!-- Change Password -->
        <div class="setting-item">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="setting-item">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password">
        </div>
        <div class="setting-item">
            <button class="button" href="#" onclick="alert('password changed')">Change Password</button>
        </div>

        <hr>

        <!-- Delete Account -->
        <div class="setting-item">
            <button class="delete-button" href="#" onclick="confirm('Delete Account?')">Delete Account</button>
        </div>

        <!-- Terms and Conditions Button -->
        <div class="terms-container">
            <a href="{% url 'terms' %}">
                <button class="terms-button">Terms and Conditions</button>
            </a>
        </div>
        <footer class="footer">
            <p>&copy; 2025 FlashLite. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>
