<html>

<head>
<title>Sign Up</title>
{% load static %}
<link rel="stylesheet"  href="{% static 'user_auth.css' %}">
</head>
<body>
<header>
<div class="navigation-div"></div>
<h1>Flash Card Generator</h1>
</header>
<div class="auth-div"><br><br>
<h2 id="auth-heading">Sign Up</h2><br>
<form method="POST" action="">
   {% csrf_token %}
<input type="text"  id="username-input" name="username" required placeholder="Enter username"><br><br>
<input type="email"  id="email-input" name="email" required placeholder="Enter email"><br><br>
<input type="password" id="password-input" name="password" required placeholder="Enter password"><br><br>
</form>
<button>Sign Up</button><br><br><br>
<a href="{% url 'login_user' %}">Already have an account? Login here!</a>
</div>
</body>

</html>
