{% extends 'base.html' %}

{% block title %}World Decks{% endblock title %}

{% block main %}
{% load static %}
<h2 class="page-title">World Sets</h2>

<!-- Tutorial Button -->
<button class="tutorial-btn" data-set-id="world-tutorial">?</button>

<div class="content">
    <form method="get" action="{% url 'search_results' %}">
        <input type="text" name="query" placeholder="Search..." aria-label="Search">
        <button type="submit">Search</button>
    </form>

        <!-- Display Public Flashcard Sets -->
    <div class="flashcard-sets-list">
        {% for flashcard_set in flashcard_sets %}
            <div class="flashcard-set">
                <p>{{ flashcard_set.title }}</p>
                <p>{{ flashcard_set.description }}</p>
                <p>Category: {{ flashcard_set.category.name }}</p>

                <a href="{% url 'view_flashcard_set' flashcard_set.set_id %}">View Details</a>
                <a href="{% url 'study_view' flashcard_set.set_id %}" class="study-button">Study</a>

                <div>
                    <!-- Favorite Button -->
                    <button class="favorite-btn" data-set-id="{{ flashcard_set.set_id }}">
                        {% if flashcard_set.set_id in favorite_set_ids %}
                            ❤️  <!-- Filled heart if favorited -->
                        {% else %}
                            ♡  <!-- Empty heart if not favorited -->
                        {% endif %}
                    </button>

                    <button type="submit" class="print-button" data-set-id="{{ flashcard_set.set_id }}">Print</button>

                    <form action="{% url 'delete_set' set_id=flashcard_set.set_id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>No public flashcard sets available.</p>
        {% endfor %}
    </div>
</div>

<footer class="footer">
    <a href="{% url 'terms' %}">&copy; 2025 FlashLite. All Rights Reserved.</a>
</footer>
{% endblock main %}
